{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock %}

{% block content %}
<main class="container-fluid p-lg-5 mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-body">
          <h2 class="mb-3">Sign Out</h2>
          <p>Are you sure you want to sign out?</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-danger w-100" type="submit">Sign Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}