{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<main class="container-fluid p-lg-5 mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-3">
        <div class="card-body">
          {% if token_fail %}
          <h2 class="mb-3">Invalid Password Reset Link</h2>
          <p>The password reset link was invalid, possibly due to it already being used. Please request a <a href="{% url 'account_reset_password' %}">new
              password reset</a>.</p>
          {% else %}
          <h2 class="mb-3">Change Password</h2>
          {% if form %}
          <form method="POST" action=".">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary w-100" type="submit">Change Password</button>
          </form>
          {% else %}
          <p>Your password has been changed successfully!</p>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}